<div class="main_body">
    <h2>Explore RAWG API</h2>

    <ul>
        <li><%=link_to "Games List", api_list_games_path%></li>
        <li><%=link_to "Game Platforms", api_games_platforms_path%></li>
        <li><%=link_to "Game Tags", api_games_tags_path%></li>
    </ul>
</div>